################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/Term Project HW8/circuit9_v.txt
/Term Project HW8/circuit9.txt
/Term Project HW8/circuit8_v.txt
/Term Project HW8/circuit8.txt
/Term Project HW8/circuit7_v.txt
/Term Project HW8/circuit7.txt
/Term Project HW8/circuit6_v.txt
/Term Project HW8/circuit6.txt
/Term Project HW8/circuit5_v.txt
/Term Project HW8/circuit5.txt
/Term Project HW8/circuit4_v.txt
/Term Project HW8/circuit4.txt
/Term Project HW8/circuit3_v.txt
/Term Project HW8/circuit3.txt
/Term Project HW8/circuit2_v.txt
/Term Project HW8/circuit2.txt
/Term Project HW8/circuit1_v.txt
/Term Project HW8/circuit1.txt
/.vs/Term Project HW8/v17/Browse.VC.opendb
